openapi: 3.0.3
info:
  title: PAC API Gateway - Shared Fridge Management
  description: API Gateway
  version: 1.0.0
servers:
  - url: https://sfrigo.thomaspaganelli.eu/api/v1
    description: Production Server
  - url: http://localhost:8080/v1
    description: Local Development Server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Firebase

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        email:
          type: string
      required:
        - id
        - username
        - email

    Fridge:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        owner_id:
          type: string
          format: uuid
        members:
          type: array
          items:
            type: string
      required:
        - id
        - name
        - members
        - owner_id

    Item:
      type: object
      properties:
        id:
          type: string
          description: MongoDB ObjectId
        fridge_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        name:
          type: string
        quantity:
          type: number
        unit:
          type: string
        expiration_date:
          type: string
          format: date-time
      required:
        - id
        - fridge_id
        - owner_id
        - name

security:
  - bearerAuth: []

paths:
  /users:
    post:
      tags:
        - Users
      summary: Registra un nuovo utente o sincronizza il login
      description: Chiamato dall'app dopo il login su Firebase per assicurarsi che l'utente esista nel DB PostgreSQL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Username univoco scelto dall'utente
              required:
                - username
      responses:
        '201':
          description: Utente creato o sincronizzato con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /fridges:
    get:
      tags:
        - Fridges
      summary: Lista dei frigoriferi dell'utente
      responses:
        '200':
          description: Lista dei frigoriferi in cui l'utente è ADMIN o MEMBER
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fridge'
    post:
      tags:
        - Fridges
      summary: Creazione Frigorifero
      description: Crea un nuovo frigorifero. L'utente chiamante diventa automaticamente ADMIN.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        '201':
          description: Frigorifero creato
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fridge'

  /fridges/{fridgeId}:
  get:
    tags:
      - Fridges
    summary: Dettaglio frigorifero
    parameters:
      - name: fridgeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    responses:
      '200':
        description: Dettagli del frigorifero
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fridge'
      '403':
        description: Non sei membro di questo frigorifero
      '404':
        description: Frigorifero non trovato

  /fridges/{fridgeId}/invites:
    post:
      tags:
        - Members
      summary: Invito Utente al frigorifero
      description: L'Admin invita un utente tramite il suo username.
      parameters:
        - name: fridgeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
              required:
                - username
      responses:
        '200':
          description: Utente aggiunto con successo al frigorifero

  /fridges/{fridgeId}/members:
  get:
    tags:
      - Members
    summary: Lista membri del frigorifero
    parameters:
      - name: fridgeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    responses:
      '200':
        description: Lista membri con username e ruolo
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  username:
                    type: string
                  role:
                    type: string
                  joined_at:
                    type: string
                    format: date-time


  /fridges/{fridgeId}/items:
    get:
      tags:
        - Inventory
      summary: Visualizzazione Inventario
      description: Restituisce tutti gli alimenti presenti nel frigorifero specificato.
      parameters:
        - name: fridgeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista degli alimenti
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
    post:
      tags:
        - Inventory
      summary: Aggiunta Alimento
      description: Aggiunge un nuovo alimento all'inventario.
      parameters:
        - name: fridgeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                quantity:
                  type: number
                unit:
                  type: string
                expiration_date:
                  type: string
                  format: date-time
              required:
                - name
      responses:
        '201':
          description: Alimento aggiunto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'

  /fridges/{fridgeId}/items/{itemId}:
    delete:
      tags:
        - Inventory
      summary: Rimozione Alimento
      description: Rimuove un alimento specifico dal frigorifero.
      parameters:
        - name: fridgeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: itemId
          in: path
          required: true
          schema:
            type: string
            description: L'ID di MongoDB dell'alimento
      responses:
        '204':
          description: Alimento rimosso con successo
  
  /invites/{token}/accept:
  post:
    tags:
      - Members
    summary: Accetta invito al frigorifero
    parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          format: uuid
    responses:
      '200':
        description: Utente aggiunto al frigorifero
        content:
          application/json:
            schema:
              type: object
              properties:
                fridge_id:
                  type: string
                  format: uuid
                already_member:
                  type: boolean
      '404':
        description: Invito non trovato
      '410':
        description: Invito scaduto